html,
body {
  background-color: #f9fafc;
}

[v-cloak] {
  display: none;
}

.content {
  margin-top: 46px;
}

.fixed-box {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.van-nav-bar {
  background-color: #232a38;
}

.van-nav-bar .van-icon,
.van-nav-bar__title,
.van-nav-bar__text {
  color: #fff;
}

.van-tabbar {
  height: 80px;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.05);
}

.van-tabbar-item {
  color: #989898;
}

.van-tabbar-item--active {
  color: #000;
}

.van-tabbar-item__icon img {
  width: 18px;
}

.van-cell {
  line-height: 30px;
}

.van-loading {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}